*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
develop-eggs/
eggs/
parts/
src/*
!src/experimental
var/
htmlcov/
.coverage
*.log
output.xml
*.swp
